/*------------- #WIDGETS --------------*/
/*------------- #VARIABLES --------------*/
/*------------- #W-CATEGORY-LINKS --------------*/
.w--category-links {
  list-style: none;
  padding-left: 0; }
  .w--category-links li {
    display: inline-block;
    vertical-align: middle;
    line-height: 1; }
    .w--category-links li + li {
      margin-left: 8px; }
  .w--category-links .woox-icon {
    width: 18px;
    height: 18px;
    color: #c3c9d4;
    fill: #c3c9d4;
    position: relative;
    top: 2px; }

.category--with-title li:first-child {
  font-weight: 700;
  color: #3D434F;
  margin-right: 35px; }

/*================= Responsive Mode ============*/
@media (max-width: 640px) {
  .category--with-title li:first-child {
    margin-right: 10px; }
  .w--category-links .woox-icon {
    width: 12px;
    height: 12px; } }

/*------------- #W-TAGS --------------*/
.w--tags {
  list-style: none;
  padding-left: 0; }
  .w--tags li {
    display: inline-block;
    margin-right: 25px; }
    .w--tags li:last-child {
      margin-right: 0; }
    .w--tags li:before {
      content: '#';
      display: inline-block;
      position: relative;
      margin-right: 5px;
      color: #c3c9d4;
      font-weight: 900; }

/*------------- #W-INFO --------------*/
.w-info .site-logo {
  margin-bottom: 30px; }

/*------------- #W-CONTACTS --------------*/
.w-contacts .socials {
  margin-bottom: 40px; }

.w-contacts .send-us {
  color: #3D434F; }

/*------------- #W-HIGHLIGHTS --------------*/
.w-highlights ul {
  list-style: none;
  padding-left: 0; }

.highlights-item {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 13px; }
  .highlights-item:before {
    content: '';
    display: block;
    width: 4px;
    height: auto;
    border-radius: 5px;
    background-color: #e8edf6;
    position: absolute;
    left: 6px;
    bottom: 0;
    top: 26px; }
  .highlights-item + .highlights-item {
    margin-top: 12px; }
  .highlights-item:last-child:before {
    display: none; }
  .highlights-item .circle {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    margin-right: 30px;
    border-radius: 100%;
    border: 3px solid #3D434F; }
  .highlights-item .content-description {
    overflow: hidden; }
    .highlights-item .content-description .title {
      line-height: 1;
      margin-bottom: 5px;
      font-weight: 700;
      color: #3D434F; }

.w-highlights--without-decor .highlights-item:before {
  display: none; }

/*------------- #W-SEARCH --------------*/
.w-search .woox-icon {
  width: 26px;
  height: 26px; }

/*------------- #W-ABOUT --------------*/
.w-about p {
  margin: 25px auto; }

.sidebar .widget {
  padding: 40px;
  border-radius: 50px;
  box-shadow: 60px 0 100px rgba(61, 67, 79, 0.05);
  margin-bottom: 40px;
  background-color: #fff; }
  .sidebar .widget .icon-wave {
    fill: #1D6BFF;
    margin-bottom: 5px; }
  .sidebar .widget.w-socials-subscriber {
    background-color: transparent;
    box-shadow: none; }

.widget-title {
  margin-bottom: 25px; }
  .widget-title:after {
    content: ".";
    font-size: inherit;
    color: #1D6BFF;
    display: inline-block;
    position: relative; }

/*================= Responsive Mode ============*/
@media (max-width: 1024px) {
  .sidebar .widget {
    padding: 20px; } }

/*------------- #W-CATEGORY --------------*/
.w-category .post-category-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .w-category .post-category-list a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: relative; }
  .w-category .post-category-list li {
    padding: 12px 0;
    border-bottom: 1px dashed #e8edf6; }
    .w-category .post-category-list li:last-child {
      border-bottom: 0; }
    .w-category .post-category-list li:hover a {
      color: #666d7a; }
    .w-category .post-category-list li:hover .icons .woox-icon {
      opacity: 0; }
      .w-category .post-category-list li:hover .icons .woox-icon.icon-hover {
        opacity: 1;
        margin-right: -3px; }
    .w-category .post-category-list li:hover .cat-count {
      color: #3D434F;
      background-color: #1D6BFF; }

.w-category .cat-count {
  font-size: 10px;
  font-weight: 700;
  color: #a0a9ba;
  background-color: #e8edf6;
  padding: 5px 10px;
  border-radius: 30px;
  line-height: 1;
  margin-left: 20px;
  transition: all .3s ease;
  position: relative; }

.w-category .icons {
  margin-right: 20px;
  position: relative;
  width: 12px;
  height: 12px; }
  .w-category .icons .woox-icon {
    width: 12px;
    height: 12px;
    fill: #c3c9d4;
    position: absolute;
    top: 0;
    right: 0; }
    .w-category .icons .woox-icon.icon-hover {
      opacity: 0;
      fill: #3D434F;
      z-index: 2; }
      .w-category .icons .woox-icon.icon-hover + .icon-hover {
        top: 1px;
        right: -1px;
        fill: #1D6BFF;
        z-index: 1; }

/*------------- #W-SUBSCRIBE --------------*/
.widget.w-subscribe {
  background-color: #1D6BFF;
  text-align: center; }
  .widget.w-subscribe p {
    font-weight: 700;
    margin: 20px 0;
    color: #3D434F; }
    .widget.w-subscribe p:last-child {
      font-size: 14px;
      margin-bottom: 0;
      color: #fff; }
  .widget.w-subscribe .title {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    line-height: 1;
    margin-top: 0; }

/*------------- #W-LATEST-NEWS --------------*/
.w-latest-news .latest-news-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }

.w-latest-news .category {
  font-weight: 700;
  color: #1D6BFF;
  font-size: 14px; }

.w-latest-news .post__title {
  font-size: 16px;
  margin: 8px 0;
  line-height: 1.65em; }

.w-latest-news .divider {
  margin: 10px auto; }

/*------------- #W-POPULAR-PRODUCTS --------------*/
.w-popular-products {
  text-align: center; }
  .w-popular-products .post {
    margin-bottom: 0; }
    .w-popular-products .post .post-thumb {
      border-radius: 20px; }
  .w-popular-products .swiper-pagination {
    bottom: 40px; }

.sidebar .w-popular-products {
  padding-bottom: 100px; }

/*------------- #W-RECENT-COMMENTS --------------*/
.w-recent-comments .recent-comments-list {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.w-recent-comments .avatar {
  margin-right: 20px;
  float: left;
  width: auto;
  height: auto; }
  .w-recent-comments .avatar .woox-icon {
    width: 14px;
    height: 14px;
    fill: #dde2ea; }

.w-recent-comments .divider {
  margin: 5px auto; }

.w-recent-comments .content {
  overflow: hidden;
  color: #3D434F;
  font-weight: 700; }
  .w-recent-comments .content a {
    font-size: 14px;
    color: #c3c9d4;
    margin-right: 15px;
    padding-right: 15px;
    position: relative; }
    .w-recent-comments .content a:before {
      content: '';
      display: block;
      border-radius: 100%;
      width: 4px;
      height: 4px;
      background-color: #c3c9d4;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: -4px; }

/*------------- #W-BANNER --------------*/
.w-banner {
  text-align: center; }
  .w-banner .w-banner-thumb {
    background-color: #1D6BFF;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 60px 0 100px rgba(61, 67, 79, 0.05);
    color: #fff;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    display: block; }
    .w-banner .w-banner-thumb img {
      display: block;
      margin: 0 auto; }
  .w-banner .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .w-banner .banner-size {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0); }
  .w-banner .banner-sup-title {
    font-size: 100px;
    line-height: 1; }
  .w-banner .banner-title {
    font-size: 24px;
    line-height: 1; }
  .w-banner .banner-size {
    font-size: 14px; }
  .w-banner .sponsor {
    text-transform: uppercase;
    color: #c3c9d4;
    font-size: 12px;
    letter-spacing: 7px; }

/*================= Responsive Mode ============*/
@media (max-width: 768px) {
  .w-banner .banner-size {
    bottom: 10px; } }

/*------------- #W-SOCIALS-COUNTER --------------*/
.w-socials-counter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .w-socials-counter .social-counter-item {
    text-align: center; }
    .w-socials-counter .social-counter-item + .social-counter-item {
      margin-left: 50px; }
    .w-socials-counter .social-counter-item .woox-icon {
      width: 42px;
      height: 42px;
      margin-bottom: 6px; }
    .w-socials-counter .social-counter-item .counter {
      font-size: 26px;
      font-family: 'Playfair Display', serif;
      color: #3D434F;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 7px; }
    .w-socials-counter .social-counter-item .descr {
      font-size: 14px;
      color: #c3c9d4;
      font-weight: 700;
      text-transform: uppercase; }

/*================= Responsive Mode ============*/
@media (max-width: 1024px) {
  .w-socials-counter .social-counter-item .counter {
    font-size: 20px; } }

/*------------- #W-CALENDAR --------------*/
.w-calendar {
  text-align: center; }
  .w-calendar .xdsoft_datetimepicker {
    font-family: Comfortaa,Arial,"Helvetica Neue",Helvetica,serif,sans-serif;
    color: #3D434F;
    border-color: transparent;
    background-color: #fff;
    z-index: 10;
    border-radius: 30px;
    box-shadow: 15px 0 40px 5px rgba(61, 67, 79, 0.15);
    padding: 20px 34px; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar table {
    border-radius: 0; }
  .w-calendar .xdsoft_datetimepicker.xdsoft_inline {
    width: auto; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_datepicker {
    width: 100%; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td,
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar th {
    border-color: transparent;
    text-align: center;
    background-color: transparent; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar th {
    height: 70px;
    color: #3D434F; }
    .w-calendar .xdsoft_datetimepicker .xdsoft_calendar th:last-child {
      color: #ff3133; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td > div {
    font-size: 14px;
    font-weight: 900;
    width: 40px;
    padding: 8px 5px; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current {
    background: #1D6BFF;
    box-shadow: #1D6BFF 1px 3px 0 inset; }
    .w-calendar .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current:hover {
      background: #1D6BFF; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_datepicker {
    margin-left: 0; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_monthpicker {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover {
    background-color: #3D434F; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_label:hover > span {
    text-decoration: none; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_month span,
  .w-calendar .xdsoft_datetimepicker .xdsoft_label span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;
    font-weight: 700; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_month,
  .w-calendar .xdsoft_datetimepicker .xdsoft_year {
    width: auto; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_next,
  .w-calendar .xdsoft_datetimepicker .xdsoft_prev,
  .w-calendar .xdsoft_datetimepicker .xdsoft_today_button {
    transition: all .3s ease; }
  .w-calendar table,
  .w-calendar table > tbody > tr:hover {
    box-shadow: none; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td div,
  .w-calendar .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
    border: 2px solid transparent;
    transition: all .3s ease;
    border-radius: 100%;
    overflow: hidden; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td div:hover,
  .w-calendar .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    background: transparent !important;
    box-shadow: inset 2px 3px 0 0 #1D6BFF, 2px 3px 0 0 #1D6BFF !important;
    border-color: #3D434F;
    color: #3D434F; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td:hover {
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
    color: #3D434F !important; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
    background-color: transparent;
    box-shadow: none !important;
    border-color: transparent;
    color: #3D434F; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current div {
    background-color: #e9edf6;
    box-shadow: none !important;
    border-color: transparent;
    color: #3D434F; }
    .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current div:hover {
      background-color: #e9edf6 !important;
      box-shadow: none !important;
      border-color: transparent;
      color: #3D434F; }

/*================= Responsive Mode ============*/
@media (max-width: 1500px) {
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td > div {
    width: 30px;
    padding: 3px 5px; }
  .w-calendar .xdsoft_datetimepicker {
    padding: 20px; } }

@media (max-width: 440px) {
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar td > div {
    font-size: 10px;
    width: 30px;
    padding: 6px 2px; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_calendar th {
    font-size: 10px; }
  .w-calendar .xdsoft_datetimepicker .xdsoft_label {
    font-size: 10px; } }

@media (max-width: 380px) {
  .w-calendar .xdsoft_datetimepicker {
    padding: 20px 10px; } }

/*------------- #W-POPULAR-POSTS --------------*/
.w-popular-posts {
  text-align: center;
  padding-bottom: 40px; }
  .w-popular-posts .post {
    border-radius: 0; }
  .w-popular-posts .post-thumb {
    border-radius: 0;
    margin: 0 auto 40px; }
  .w-popular-posts .post__content {
    padding: 0; }
  .w-popular-posts .post-additional-info {
    -ms-flex-pack: center;
        justify-content: center; }
  .w-popular-posts .swiper-pagination {
    bottom: 30px; }

.sidebar .w-popular-posts {
  padding-bottom: 40px; }

/*------------- #W-SHARED-POSTS --------------*/
.w-shared-posts .list-shared-post {
  padding-left: 0;
  margin: 0;
  list-style: none; }

.w-shared-posts .divider {
  margin: 10px 0; }

.post-shared {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .post-shared .post-thumb {
    border-radius: 10px;
    margin-right: 20px;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .post-shared .category {
    font-size: 14px;
    color: #1D6BFF;
    opacity: .8; }
    .post-shared .category:hover {
      opacity: 1; }
  .post-shared .post__title {
    font-size: 16px; }
  .post-shared .share-counter {
    font-size: 14px;
    color: #c3c9d4;
    font-weight: 700; }
  .post-shared .post__content {
    padding: 0;
    -ms-flex-negative: 20;
        flex-shrink: 20; }

/*------------- #W-POPULAR-TAGS --------------*/
.w-popular-tags .tags-list {
  padding-left: 0;
  list-style: none;
  margin: 0; }
  .w-popular-tags .tags-list li {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block; }
    .w-popular-tags .tags-list li:last-child {
      margin-right: 0; }

.w-popular-tags a {
  padding: 9px 20px;
  font-weight: 700;
  border: 3px solid #3D434F;
  border-radius: 50px;
  transition: all .3s ease;
  color: #3D434F;
  display: block;
  line-height: 1; }
  .w-popular-tags a:hover {
    box-shadow: inset 3px 3px 0 0 #1D6BFF, 3px 4px 0 0 #1D6BFF; }

.popular-tags--title li:first-child {
  font-weight: 700;
  color: #3D434F;
  margin-right: 30px; }

/*------------- #W-SOCIALS-SUBSCRIBER --------------*/
.w-socials-subscriber .list-socials-subscriber {
  padding-left: 0;
  list-style: none;
  margin: 0;
  border-radius: 20px;
  overflow: hidden; }

.w-socials-subscriber .subscriber-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 62px;
  max-height: 62px;
  padding: 20px;
  color: #fff; }
  .w-socials-subscriber .subscriber-item .woox-icon {
    width: 22px;
    height: 22px;
    margin-right: 22px; }
  .w-socials-subscriber .subscriber-item .join-follow {
    display: block;
    margin-left: auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    padding: 6px 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 110px;
    max-width: 110px;
    text-align: center; }
    .w-socials-subscriber .subscriber-item .join-follow:hover {
      color: #1D6BFF; }
  .w-socials-subscriber .subscriber-item .subscriber-count {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700; }
    .w-socials-subscriber .subscriber-item .subscriber-count span {
      font-size: 16px;
      font-weight: 400;
      margin-left: 5px; }

/*================= Responsive Mode ============*/
@media (max-width: 1400px) {
  .widget.w-socials-subscriber {
    padding: 10px; } }

@media (max-width: 420px) {
  .w-socials-subscriber .subscriber-item .woox-icon {
    margin-right: 10px;
    width: 18px;
    height: 18px; }
  .w-socials-subscriber .subscriber-item .subscriber-count {
    font-size: 18px; }
  .w-socials-subscriber .subscriber-item .join-follow {
    min-width: auto;
    max-width: none; } }
